body, html {
    margin: 0;
    padding: 25px;
    height: 100%;
    width: 100%;
    overflow: auto; /* Ensures scrolling is enabled */
}

.container {
    position: relative;
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
}

.game-frame {
 border: none;
 width: 100%;
 height: 100%;
 display: block;
}

/* Optional: Responsive adjustments */
@media (max-width: 600px) {
    .container {
        gap: 5px; /* Adjust gap on smaller screens */
        padding: 5px;
    }
    .game-frame {
        height: 200px; /* Adjust iframe height for smaller screens */
    }
}
